:root{
    --grass: #32BF00;
    --fire: #FF5C00;
    --water: #0047FF;
    --bug: #CCD000;
    --ground: #FFC700;
    --dark: #665642;
    --normal: #E5E1B6;
    --fighting: #af3200;
    --fairy: #ffb1f3;
    --steel: #c6c6c6;
    --dragon: #4632fa;
    --poison: #8F00E7;
    --rock: #9b8b7b;
    --flying: #98cee1;
    --ghost: #401473;
    --ice: #9fe4ff;
    --electric: #FFFF00;
    --psychic: #d94ca5;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 114px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    width: 100%;
    margin-top: 24px;
}

/* width */
.list-container::-webkit-scrollbar {
    width: 5px;
    padding-left: 5px;
}

/* Track */
.list-container::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

/* Handle */
.list-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
.list-container::-webkit-scrollbar-thumb:hover {
    background: var(--principal-color);
}